**/node_modules/
**/.docusaurus/
**/dist/
**/build/

content/upstream/docs/
content/upstream/docs-subset/
content/upstream/sidebars.ts
prototypes/docusaurus/docs/
prototypes/docusaurus/sidebars.ts

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local
